h1 {
  border-bottom: 1px solid #ddd;
  font-size: 2.5em;
  font-weight: bold;
}

h2 {
  border-bottom: 1px solid #ddd;
  font-size: 2em;
}

a {
  text-decoration: none;
}

img {
    width: 100px;
    height: 100px
}

.contact {
  font-size: 1.5em;
  padding-top: 6px;
  border-top: 1px solid #ddd;
  padding-bottom: 6px;
  border-bottom: 1px solid #ddd;
}

.message {
  margin-left: 12px;
}

/* Lanetix styles */
.avatar {
  border-radius: 50%;
  margin-right: 8px;
  display: inline-block;
}

.avatar .avatar-border {
  border-color: green;
  border-width: 3px;
  border-style: solid;
}

.avatar .hover {
  cursor: pointer
}

.avatar .img {
  border-radius 50%
  display inline-block
  height 36px
  width 36px
}

.default-avatar {
  background-image: inline('images/default-avatar.png');
  background-repeat: no-repeat;
  background-position: center;
  height: 32px;
  width: 32px;
  display: inline-block;
}

.default-avatar-big {
  background-image: inline('images/avatar_default.png');
  background-repeat: no-repeat;
  background-size: 126px 126px;
  border: 1px solid $borderColor;
  height: 126px;
  width: 126px;
}
